body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#0f172a;
color:white;
}


.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
position:sticky;
top:0;
}


.navbar ul{
display:flex;
list-style:none;
gap:20px;
}


.navbar a{
color:white;
text-decoration:none;
}


.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(135deg,#1e293b,#0f172a);
}


.hero h1{
font-size:60px;
}


.hero button{
padding:12px 25px;
font-size:16px;
border:none;
background:#22c55e;
color:white;
cursor:pointer;
border-radius:5px;
transition:0.3s;
}


.hero button:hover{
transform:scale(1.1);
}


.about{
padding:80px;
text-align:center;
}


.features{
display:flex;
justify-content:center;
gap:40px;
padding:80px;
}


.card{
background:#1e293b;
padding:30px;
border-radius:10px;
width:250px;
transition:0.3s;
}


.card:hover{
transform:translateY(-10px);
background:#334155;
}


footer{
text-align:center;
padding:40px;
background:#020617;
}
